[Unit]
Description=SJ57 Garage Service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/sj57/main.py
Type=simple
Restart=always
StandardOutput=null
StandardError=journal
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target